#back {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  overflow: hidden;
  animation-fill-mode: forwards;
}

/* Define as animações */
@keyframes weather1 {
  from {
    background-image: url(../images/lua_cheia.jpg);
  }
  to {
    background-image: url(../images/sky.jpg);
  }
}

@keyframes weather2 {
  from {
    background-image: url(../images/sky.jpg);
  }
  to {
    background-image: url(../images/por_do_sol.jpeg);
  }
}

@keyframes weather3 {
  from {
    background-image: url(../images/por_do_sol.jpeg);
  }
  to {
    background-image: url(../images/lua_cheia.jpg);
  }
}

#back.weather1 {
  animation: weather1 2s linear forwards; /* Aplica a animação weather1 com duração de 2s */
}

#back.weather2 {
  animation: weather2 2s linear forwards ; /* Aplica a animação weather2 com duração de 2s e atraso de 2s */
}

#back.weather3 {
  animation: weather3 2s linear forwards ; /* Aplica a animação weather3 com duração de 2s e atraso de 4s */
}
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 8rem;
  height: 4rem;
  padding-bottom: 2rem;

}

#git{

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: fixed;
  width: 8rem;
  height: 4rem;
  padding-bottom: 32rem;
  padding-left: 75rem;

  animation-name: float;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes float{
   
  0%{
    transform: translateY(0);
  }
  50%{
    transform:translateY(-20px);
  }
  100%{
    transform:translateY(0);
  }

}

.aviso_container {
  color: black;
  font-size: 2rem;
  text-align: left;
  word-spacing: -0.1em;
  text-indent: 2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 8rem;
  height: 4rem;
  padding-bottom: 5rem;
  padding-left: 15rem;
}

.seta_esquerda {
  color: rgb(0, 0, 0);
  font-size: 5rem;
  padding-left: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 8rem;
  height: 4rem;
  padding-bottom: 3rem;
  padding-left: 6rem;
}


.mensage_container{
  display: flex;
  justify-content: center;


  padding-top: 1%;
  padding-right: 2%;
  width: 100%;

}

#mensage{

  display: flex;
  justify-content: center;
  font-size: 3rem;

  padding-top: 5%;
}

#data{

  background-color :var(--cor-caixas);
  box-shadow: 6px 25px 3px rgba(0, 0, 0, 0.192);
  border-radius: 2rem;
  height: 10rem;
  width: 80rem;

  opacity: 80%;
  
   
}

.data_text{
 
  display: flex;
  justify-content: center;
  font-size: 3rem;

  padding-top: 2%;

  opacity: 100%;
}

#boa{

  display: flex;
  justify-content: center;

  font-size: 3rem;
  padding-top: 1%;

}

.central{
   
   display: grid;
   text-align: center;
  grid-template-columns: repeat(3,1fr);

  gap: 10%;

  padding-left: 9%;
  padding-top: 4%;
  padding-left: 5rem;
  


}

:root{

  --cor-caixas: white;

}

.texto{
  


  font-family: "Stick No Bills", sans-serif;
  font-size: 2.5rem;
  font-style: normal;

   
 padding-top: 3rem;

 opacity: 100%;


}


.caixas{
  
  
   
  background-color :var(--cor-caixas);
  box-shadow: 6px 25px 3px rgba(0, 0, 0, 0.192);
  border-radius: 100%;
  height: 15rem;
  width: 15rem;

  opacity: 100%;

  animation-name:clock;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  
}

@keyframes clock{

    0%{
    
      transform:scale(0.93);
       
      
    }
     70%{
        
      transform:scale(0.85);     
        
    }
    90%{
      
        
      transform:scale(0.83);     
    }        

  

  
   
}


@media only screen and (max-width: 1000px) {
  .mensage_container {
    padding-top: 20rem;
  }

  .central {
    padding-left: 0;
    grid-template-columns: repeat(3,12rem);
    
    
  }

  #git{

    padding-left: 40rem;
    padding-top: 6rem;
  }
}

@media only screen and (max-width: 400px) {

  .mensage_container {
    padding-top: 20%;
  }

  .central {
    padding-right: 50%;
    grid-template-columns: repeat(3,5rem);
    
    
  }

  .central .caixas{
     
      width: 9rem;
      height: 10rem;
  }

  .central .texto{
     
    font-size:1.7rem ;
}

  #git{

    padding-left: 70%;
    padding-bottom: 100%;
  }
 
}


@media only screen and (max-width: 600px) {

  .mensage_container {
    padding-top: 50%;
  }

  .central {
    padding-top: 4rem;
    padding-right: 50%;
    grid-template-columns: repeat(3,7rem);
    
    
  }

  .central .caixas{
     
      width: 9rem;
      height: 10rem;
  }

  .central .texto{
     
    font-size:1.7rem ;
}

  #git{

    padding-left: 70%;
    padding-bottom: 100%;
  }
 
}





 



